$navbar-default-bg: #122564;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    
}

#logo:hover{
    color: grey;
    text-decoration: none;
}

.center{
    text-align: center;
}

.jumbotron{
    background-image: asset-url('jumbotronBG.jpg');
    background-size: cover;
    height: 800px ;
}

.jumbotron h1{
    text-align: center;
    font-size: 80px;
    color: #122564;
    margin-bottom: 30px;
    letter-spacing: -10px;
    font-weight: bold;
}

.btn-xlg{
    background-color: #122564;
    font-size: 1.7em;

}

.btn-xlg:hover{
    background-color: #426ef4;
}

.footer{
    margin-top: 1px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
    color: #122564;
}

.footer a:hover{
    color: #222;
    
}

.footer small{
    float: left;
}

.footer ul{
    float: right;
    list-style: none;
}

.footer ul li{
    float: left;
    margin-left: 15px;
}